@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #004ac6;
  --color-on-primary: #ffffff;
  --color-primary-container: #2563eb;
  --color-on-primary-container: #eeefff;

  --color-surface: #faf8ff;
  --color-on-surface: #191b23;
  --color-on-surface-variant: #434655;
  --color-surface-container-low: #f3f3fe;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container: #ededf9;
  --color-surface-container-highest: #e1e2ed;
  --color-surface-variant: #e1e2ed;

  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
}

@layer base {
  body {
    @apply font-sans bg-surface text-on-surface;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-outline-variant);
  border-radius: 10px;
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-outline);
}
